@page "/counter"

@inherits BlazorStateComponent
@using BlazorState
@using GabsHybridApp.Shared.States

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="Increment">Click me</MudButton>

<p>&nbsp;</p>

<p role="status">Local count: @localCount</p>
<MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="IncrementLocal">Click me</MudButton>

@code {
    CounterState CounterState => GetState<CounterState>();
    int currentCount => CounterState.Count;

    int localCount = 0;

    async Task Increment()
    {
        await Mediator.Send(new CounterState.IncrementCount(5));
    }

    void IncrementLocal()
    {
        localCount++;
    }
}